//Colors
$color-primary-light: rgba(244, 246, 246, 0.9);
$color-primary-dark: rgba(124, 123, 117, 0.781);

$color-grey-dark: #777;
$color-black: rgb(2, 2, 2);


//Grid
$grid-width: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;