//Colors
$color-primary-light: rgba(211, 208, 193, 0.781);
$color-primary-dark: rgba(63, 62, 59, 0.781);


$color-grey-light-1:rgba(211, 208, 193, 0.781);
$color-grey-dark: #777;


$color-black: rgb(2, 2, 2);
$color-white: white;
//Font

$default-font-size: 1.6rem;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;