.row {
    max-width: $grid-width;
    background-color: lightgrey;
    margin: 0 auto;
    
    &:not(:last-child) {
        margin-bottom: $space-vertical;
    }

    .col-1-of-2 {
        width: calc((100% - #{space-horizontal}) / 2);
        background-color: orangered;
        float: left;

        &:not(:last-child){
            margin-right: $space-horizontal;
        }
    }
}

